extends layout.pug
//-include mixins/_tableRow

block content
    table.ui.celled.table.center.aligned
        thead
            tr
                th Full Name
            tr
                th ID
            tr
                th Gender
            tr
                th Class
            tr
                th Issued
            tr
                th Expire
            tr
                th Nationality
        tbody
            //-+tableRow(driver)
        tfoot
            tr
                th(rowspan='2')


//- block content

    h3#blink Please Scan Tag to Display ID or User Data
		
    p#getUID
		
    br
		
    div#show_user_data
    form
        table(
            width="452"
            border="1"
            bordercolor="#10a0c5"
            align="center"
            cellpadding="0"
            cellspacing="1"
            bgcolor="#000"
            style="padding: 2px"
        )
            tr
                td(
                    height="40"
                    align="center"
                    bgcolor="#4caf50"
                )
                font(
                    color="#FFFFFF"
                    )
                    b User Data
            tr
                td(
                    bgcolor="#f9f9f9"
                )
                    table(
                        width="452"
                        border="0"
                        align="center"
                        cellpadding="5"
                        cellspacing="0"
                    )
                        tr
                            td(
                            width="113"
                            align="left"
                            class="lf"
                            ) ID
                            td(style="font-weight:bold") :
                            td(align="left")--------
                        tr(bgcolor="#f2f2f2")
                            td(
                            align="left"
                            class="lf"
                            ) Name
                            td(
                            style="font-weight:bold"
                            ) :
                            td(
                            align="left"
                            ) --------
                        tr(bgcolor="#f2f2f2")
                            td(
                                align="left"
                                class="lf"
                            ) NRC
                            td(
                            style="font-weight:bold"
                            ) :
                            td(
                            align="left"
                            ) --------
                        tr
                            td(
                                align="left"
                                class="lf"
                                ) Gender
                                td(
                                    style="font-weight:bold"
                                ) :
                                td(align="left") --------
                        tr(bgcolor="#f2f2f2")
                            td(
                                align="left"
                                class="lf"
                            ) Class
                            td(
                                style="font-weight:bold"
                            ) :
                            td(
                                align="left"
                            )--------
                        tr
                            td(
                                align="left"
                                class="lf"
                            ) Issued
                            td(
                                style="font-weight:bold"
                            ) :
                            td( align="left") --------
                        tr
                            td(
                                align="left"
                                class="lf"
                            ) Expire
                            td(
                                style="font-weight:bold"
                            ) :
                            td(align="left") --------
                        tr(bgcolor="#f2f2f2")
                            td(
                                align="left"
                                class="lf"
                            ) Nationality
                            td(
                                style="font-weight:bold"
                            ) :
                            td(
                                align="left"
                            )--------
