extends layout.pug

block content
    div.container
        div.row
            h3 User Data Table
        div.row
            table.table.table-striped.table-bordered
                thead
                    tr(
                        bgcolor="#4caf50"
                        color="#FFFFFF"
                    )
                        th Name
                        th ID
                        th NRC
                        th Gender
                        th Class
                        th Issued
                        th Expire
                        th Nationality
                        th Action
                tbody
                        //- console.log info from database
                        for driver in Drivers
                        tr
                            //-td
                                img.ui.mini.rounded.image(src=driver.picture.thumbnail)
                            td #{driver.name.first}
                            td #{driver.name.last}
                            td #{driver.email}
                            td #{driver.phone}
                            td #{driver.location.city}
                tfoot
                        tr
                            th(colspan='6')