//- mixin tableRow(driver)
  tr
    td
    //- img.ui.mini.rounded.image(src=driver.picture.thumbnail)
    td #{driver.name.fullname}
    td #{driver.id}
    td #{driver.gender}
    td #{driver.class}
    td #{driver.issued}
    td #{driver.expire}
    td #{driver.nationality}
